[submodule "src/thirdparty/android-emulator-runner"]
	path = src/thirdparty/android-emulator-runner
	url = https://github.com/ReactiveCircus/android-emulator-runner
[submodule "src/thirdparty/setup-android"]
	path = src/thirdparty/setup-android
	url = https://github.com/android-actions/setup-android
